@import "tailwindcss";

@font-face {
  font-family: "PretendardVariable";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "ONE Mobile POP";
  src: url("/fonts/ONEMobilePOP.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 텍스트가 안 보이는 현상 방지 */
}

/* Tailwind 클래스에서 사용할 변수 등록 */
@theme {
  --font-sans: "PretendardVariable", ui-sans-serif, system-ui;
  --font-one-pop: "ONE Mobile POP", sans-serif;
}
